.movies {
    background: url(../img/bgmovies.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
    &__content {
        // height: 200px;
        
    }
}
.bar{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgba(163, 163, 163, 0.5);
    padding: 0; 
    margin-bottom: 30px;
}