body {
    // height: 100vh;
    // background: $bg-gradient no-repeat;
    background: linear-gradient(to bottom, #8e9eab, #eef2f3);
    // background: url(../img/bg.jpg);
    // background-size: auto;
    // background-position: center;
    font-family: 'Yantramanav', sans-serif !important;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.col-6 {
    width: 44%;
    margin: 0 20px;
}
