body {
    background: $bg-gradient no-repeat;
    font-family: 'Yantramanav', sans-serif !important;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.col-6 {
    width: 44%;
    margin: 0 20px;
}
