.heading-1 {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    margin: 20px 0 10px 0;
}
.heading-2 {
    color: rgba(163, 163, 163, 1);
    display: inline-block;
    font-size: 2.5rem;
    // text-align: center;
    margin: 20px 20px 15px 0;
    transition: 0.3s all;    
    &:hover {
        transform: translatex(2px);
    }
}
.heading-3 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    padding-top: 40px;
    display: block;
    margin-bottom: 10px;
    font-weight: 200;
    text-shadow: 1px 1px 5px black;
}